
.ClubUpdateBtnDefault {
  margin-left: 26px;
  display: inline-flex;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--BLACK);
  background: var(--WHITE);

  color: var(--BLACK);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.14px;
}

.ClubUpdateBtnHover {
  margin-left: 26px;
  display: inline-flex;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--BLACK);
  background: var(--Main-04, #ffefec);

  color: var(--BLACK);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.14px;

  cursor: pointer;
}