.card {
  width: 140.201px;
  height: 283px;
  flex-shrink: 0;
}

.card_img_box {
  width: 140px;
  height: 197.716px;
  flex-shrink: 0;
  aspect-ratio: 140/197.72;
  margin-bottom: 10px;
  &:hover {
    box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.25);
  }
}

.card_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  &:hover {
    cursor: pointer;
  }
}

.card_text_box {
  display: flex;
  flex-direction: column;
  padding-left: 4px;
  padding-right: 4px;
}

.card_title {
  overflow: hidden;
  text-overflow: ellipsis;

  /* Body 04 _ R */
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.card_info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}

.card_order {
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
}

.card_applyPeople {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  color: var(--ORANGE);
}

.card_btn_box {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 4px;
}

.card_btn_img_box {
  display: flex;
  width: 12px;
  height: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  aspect-ratio: 11/12;
  &:hover {
    cursor: pointer;
  }
}

.card_btn {
  width: 100%;
  height: 100%;
}

/* 모달 스타일 */
.modal_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 20px;
}

.modal_top {
  color: var(--gray-10-typo-color, #121212);
  text-align: center;

  /* Body 01 _ SB */
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 33px; /* 165% */
}

.modal_con {
  font-size: 14px;
  text-align: center;
  line-height: 1.4;
}

.modal_Btns {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.modal_close_Btn {
  display: inline-flex;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-02, #ff3d12);
  background: var(--gray-01-background, #fbfbfb);
  color: var(--main-02, #ff3d12);

  /* Body 04 _ R */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.modal_close_Btn:hover {
  cursor: pointer;
  background: #e8e8e8;
}

.modal_ok_Btn {
  display: inline-flex;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--main-02, #ff3d12);
  background: var(--main-02, #ff3d12);
  color: var(--gray-01-background, #fbfbfb);

  /* Body 04 _ R */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.modal_ok_Btn:hover {
  cursor: pointer;
  background: var(--DEEP-ORANGE, #ff1a00);
  border-color: #ff3742;
}
