.card {
  width: 140px;
  height: 258px;
  flex-shrink: 0;
  border: 2px solid var(--HOVER);
  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.card_img_box {
  width: 140px;
  height: 197.716px;
  flex-shrink: 0;
  aspect-ratio: 140/197.72;
  margin-bottom: 0.28px;
}

.card_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  &:hover {
    cursor: pointer;
  }
}

.card_text_box {
  display: flex;
  flex-direction: column;
  padding-left: 4px;
  padding-right: 4px;
}

.card_title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
}

.card_info {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 163.636% */
}

.card_btn_box {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 4px;
}

.card_btn_img_box {
  display: flex;
  width: 12px;
  height: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  aspect-ratio: 11/12;
  &:hover {
    cursor: pointer;
  }
}

.card_btn {
  width: 100%;
  height: 100%;
}
