.kakao_btn {
    display: block;
    width: 90%;
    max-width: 400px;
    margin: 0 auto 16px auto;
    background: #ff3d12;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    padding: 14px 0; /* 버튼 높이 줄임 */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }