
.profile_title_box {
  margin-bottom: 16px;
}

.profile_title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.72px;
}

.detail_box {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.detail_head {
  width: 88px;
  color: var(--Gray-07, #4e4e4e);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.18px;
}

.detail_body {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.18px;
}
