.recruitingDetail{
  padding: 6px 24px 92px 24px;

  display: flex;
  flex-direction: column;
}

.recruitingTopContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  height:222px;
  position: relative;
}

.backgroundImg{
  position: absolute;
  bottom: 65px;
  left: -30px;
  width: 130%;
  height: 160px;
  background: lightgray 50% / cover no-repeat;
  z-index: -10;

}

.sns_icons{
  position: absolute;
  top: 120px;
  right: 24px;
  gap: 20px;
  display: flex;
  flex-direction: row;
}

.recruite_Pic{
  width: 100px;
  height: 143px;
  border: 4px solid var(--gray-01-background, #FBFBFB);
  background: lightgray 50% / cover no-repeat;

  /* Shadow _ Mobile */
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.25);
}

.title{
  color: var(--gray-10-typo-color, #121212);
  font: var(--TITLE06);
  margin-top: 24px;
  margin-bottom: 12px;
}

.recruitingDetailContent{
  color: var(--gray-10-typo-color, #121212);
  font: var(--BODY04);
}

.club{
  color: var(--main-02, #FF3D12);
  font:var(--TITLE04_B);
  padding-bottom: 6px;
  padding-left: 24px;
}

.recruitingDetailContent{
  padding-left: 16px;
  display: flex;
  flex-direction: column;
}

.contentTitle{
  color: var(--Point-03, #8E3DFF);
  font: var(--BODY03_B);
  margin-bottom: 4px;
}

.contentText{
  color: var(--gray-10-typo-color, #121212);
  font: var(--BODY03);
  margin-bottom: 40px;
}

.clubDetailTexts{
  margin-bottom: 40px;
}