.recruitingDetail {
  padding: 6px 24px 92px 24px;

  display: flex;
  flex-direction: column;
}

.recruitingTopContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  height: 222px;
  position: relative;
}

.backgroundImg {
  position: absolute;
  bottom: 65px;
  left: -30px;
  width: 111%;
  height: 160px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 0;
}

.backgroundImg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(2px);
  pointer-events: none;
}

.sns_icons {
  position: absolute;
  top: 120px;
  right: 24px;
  gap: 20px;
  display: flex;
  flex-direction: row;
}

.recruite_Pic {
  width: 120px;
  height: auto;
  border: 4px solid var(--gray-01-background, #fbfbfb);
  background: lightgray 50% / cover no-repeat;

  /* Shadow _ Mobile */
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.title {
  color: var(--gray-10-typo-color, #121212);
  font: var(--TITLE06);
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 12px;
  padding-left: 16px;
}

.recruitingDetailContent {
  color: var(--gray-10-typo-color, #121212);
  font: var(--BODY04);
}

.club {
  color: var(--main-02, #ff3d12);
  font: var(--TITLE04_B);
  font-size: 20px;
  padding-bottom: 6px;
  padding-left: 24px;
}

.recruitingDetailContent {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
}

.contentTitle {
  color: var(--Point-03, #8e3dff);
  font: var(--BODY03_B);
  margin-bottom: 4px;
}

.contentText {
  color: var(--gray-10-typo-color, #121212);
  font: var(--BODY03);
  margin-bottom: 40px;
}

.clubDetailTexts {
  margin-bottom: 40px;
}

.recruite_apply {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 200px;
}

.apply_Btn {
  width: 100%;
  /* height: 41px; */
  padding: 15px 90px;
  background: #ff3d12;
  color: #fbfbfb;
  border: none;
  border-radius: 7px;
  color: var(--gray-01-background, #fbfbfb);
  text-align: center;

  font: var(--BODY02_SB);
  &:hover {
    cursor: pointer;
    background: var(--DEEPORANGE);
  }
}

.applyButtonContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 27px 20px 90px 20px;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  display: flex;
  justify-content: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
