.main{
  width:100%;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  margin-bottom: 6px;
}

.backButton {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  cursor: pointer;
}

.categoryText{
  font: var(--BODY03_SB);
  text-align: center;
}