.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1009;
  background-color: rgba(0, 0, 0, 0.6);
} 

.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}

/* 모달 박스 디자인  */
.modal > section {
/* 모달 박스 크기 및 테두리 */
  width: 82vw;
  height: 200px;
  flex-shrink: 0;
  margin: 0 auto;

  background:#FFF;
  margin-bottom: 150px;
  border-radius: 12px;
  position: relative;

  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}


.modal > section > main {
  padding: 20px !important;

  display:flex;
  flex-direction: column;
  align-items: center;
}

.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}


.close{
  margin: 20px;
  border:1px solid black;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.topContainer{
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.topContainer span {
  font: var(--BODY01_SB);
  color: var(--BLACK);
  text-align: center;
  margin-top: 24px;
  margin-bottom: 70px;
}

.bottomContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  width:100%;
  border-top: 1px solid #CCC;
  padding-top: 15px;
}
