.body {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.sidebar {
  height: 580px;
  width: 261px;
  padding-left: 129px;
  padding-top: 32px;
  background: var(
    --Gradient-07,
    linear-gradient(180deg, #eaeaea 0%, rgba(234, 234, 234, 0) 100%)
  );
}

.club_image_container {
  margin: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.club_image {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.container {
  padding-left: 90px;
  padding-top: 32px;
  width: 698px;
  min-height: 789px;
  flex-shrink: 0;
}

.category_box {
  display: flex;
  flex-direction: row;
  margin-bottom: 28px;
  gap: 16px;
}

.category_list {
  display: inline-flex;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--BLACK);
  background: var(--WHITE);
  color: var(--BLACK);

  &:hover {
    cursor: pointer;
    border: 1px solid var(--gray-10-typo-color, #121212);
    background: var(--HOVER);
  }
}

.content {
  display: flex;
  flex-direction: row;
  gap: 35.8px;
  flex-wrap: wrap; /* 추가: 줄바꿈 허용 */
  padding-bottom: 10%;
}

#highlight {
  background: var(--BLACK);
  color: var(--WHITE);
}

/* 모달 CSS */

.modal_strong {
  color: var(--main-02, #ff3d12);
  /* Body 03 _ SB */
  font-family: "IBM Plex Sans KR";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6875rem;
  letter-spacing: 0.01rem;
}

.modal {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal_top {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--gray-10-typo-color, #121212);
  text-align: center;
  /* Body 01 _ SB */
  font-family: "IBM Plex Sans KR";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.0625rem; /* 165% */
  letter-spacing: 0.0125rem;
}

.modal_con {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_Btns {
  display: flex;
  padding-top: 32px;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.modal_close_Btn {
  display: flex;
  padding: 0.25rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border: 1px solid var(--main-02, #ff3d12);
  background: var(--gray-01-background, #fbfbfb);
  color: var(--main-02, #ff3d12);
  /* Body 04 _ R */
  font-family: "IBM Plex Sans KR";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 171.429% */
  letter-spacing: 0.00875rem;
  &:hover {
    cursor: pointer;
  }
}

.modal_ok_Btn {
  display: inline-flex;
  padding: 0.25rem 1.5rem;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-02, #ff3d12);
  background: var(--main-02, #ff3d12);

  /* Typo*/

  color: var(--gray-01-background, #fbfbfb);
  font-family: "IBM Plex Sans KR";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 171.429% */
  letter-spacing: 0.00875rem;

  &:hover {
    cursor: pointer;
  }
}
