/* Seats.module.css */
.main { 
  padding: 12px; 
  box-sizing: border-box;
  width: 714px;
  height: 684px;
  border-radius: 16px;
  background: var(--Gray-08, #3E3E3E);

  box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.25);

  display:flex;
  flex-direction: column;
  align-items: center;
}

.stage{
  font: var(--BODY04);
  color: #ACACAC;
  margin: 20px 0px 30px 0px;
}

.row{
  display: flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 핵심: display:grid 와 크기 지정 */
.grid {
  display: grid;
  gap: 8px;
  grid-auto-rows: 36px; /* 각 행 높이 고정 */
  justify-items: center;
}

.guide{
  width:40px;
  height:170px;

  display:flex;
  flex-direction: column;

  margin-left: 30px;
  margin-top: 75px;
}

.seat{
  display:flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 16px;
}

.seat span{
  color: #ACACAC;
  font:var(--CAPTION);
}

.seat img{
  width: 26px;
  height: 26px;
}

.can{
  width: 26px;
  height: 26px;
  border-radius: 3px;
  background: #FBFBFB;
}

.completed{
  width: 26px;
  height: 26px;
  border-radius: 3px;
  background: #FF3D12;
}