.clubs {
  padding: 28px 128px 128px 128px;
  box-sizing: border-box;
}

.categoryText {
  color: var(--gray-10-typo-color, #121212);
  font: var(--TITLE06);
}

@media (max-width: 600px) {
  .clubs {
    padding: 0px 20px 90px 20px;
    box-sizing: border-box;
  }
}
