.clubDetail {
  padding: 18px 128px 160px 128px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.titleName {
  color: var(--gray-10-typo-color, #121212);

  font-size: 24px;
  font-weight: 700;
  line-height: 40px; /* 166.667% */
  letter-spacing: 2px;

  margin-top: 20px;
  margin-bottom: 30px;
}

.ClubImg {
  width: 384px;
  height: 384px;
  border: 4px solid var(--Gradient-01, #fbfbfb);
  background: lightgray 50% / cover no-repeat;

  /* Shadow 02 */
  box-shadow: 8px 8px 20px 0px rgba(0, 0, 0, 0.25);

  margin-bottom: 32px;
  object-fit: cover;
}

.clubDeatilContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  width: 100%;
  margin-bottom: 80px;
}

.clubDeatilLeft {
  width: 420px;
  /* height:600px; */

  display: flex;
  flex-direction: column;
}

.clubDeatilText1 {
  display: flex;
  flex-direction: row;

  margin-top: 20px;
}

.clubDeatilRight {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-left: 140px;
}

.clubName {
  color: var(--main-02, #ff3d12);

  font-size: 56px;
  font-weight: 700;
  line-height: 84px; /* 150% */
  letter-spacing: 3px;
}

.icons {
  margin-top: 16px;
}

.iconImg {
  margin-right: 20px;

  cursor: pointer;
}

.content {
  margin-top: 28px;
  text-align: left;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
}

.clubDeatiltitleDiv {
  width: 60px;
  flex-shrink: 0;

  margin-right: 20px;
}

.clubDeatiltitle {
  color: var(--Point-03, #8e3dff);

  /* Body 03 _ EB */
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  display: inline-block;
  width: 100%;
}

.clubDeatiltextDiv {
  /* width: 80px; */
  text-align: left;
}

.clubDeatiltext {
  display: inline-block;
  width: 100%;

  text-align: left;
}

.EventCardContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  justify-items: center;

  margin-bottom: 50px;
}

.LastRecruitingCardContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  justify-items: center;
}

.setcenter {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modifyClub {
  width: 70px;
  height: 33px;

  display: inline-flex;
  padding: 4px 94px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--main-02, #ff3d12);
  background: var(--main-02, #ff3d12);
}

.modifyClub span {
  font: var(--BODY01);
  color: var(--gray-01-background, #fbfbfb);
}
