input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.CreateBody {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
  color: #000;
  padding-bottom: 200px;
  padding: 16px 128px 160px 128px;
}

.headText {
  display: flex;
  align-self: flex-start;
  margin-bottom: 2rem;

  color: var(--gray-10-typo-color, #121212);
  /* Title 06 */
  font-family: "Pretendard Variable";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2.5rem; /* 166.667% */
}

.Create_Container {
  border: 1px solid white;
}

.show_content_Entire p {
  font-size: 1.5rem;
}

.Detail_Entire_Box {
  display: flex;
  width: 100%;
}

.SImage_Box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 23rem;
  height: 32.375rem;
  /* display: none; */
  border: 8px solid var(--gray-02-footer-background, #eaeaea);
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
}
.SImage_Box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inputFile {
  display: none;
}

.inputFileLabel {
  margin-top: 2rem;
  display: inline-flex;
  padding: 0.25rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border: 1px solid var(--main-02, #ff3d12);
  background: var(--gray-01-background, #fbfbfb);
  color: #ff3d12;
}
.entir_Boxs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px 0px 10px 6.1rem;

  width: 100%;
}

.input_Boxs {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin-top: 80px;
}

.input_Boxs input,
.input_Boxs select,
.Start_To_End input {
  padding: 0.25rem 0.5rem;
  margin: 7px;
  color: #000;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid #ffff;
}

.Start_To_End input {
  padding: 12px 10px;
}

.Start_To_End {
  display: flex;
  align-items: center;
}

/* 상세 공연 만들기 */
.Each_shows {
  display: flex;
  align-items: flex-start;
  margin-top: 100px;
  padding: 20px 0;
  color: var(--gray-10-typo-color, #121212);
  /* Title 06 */
  font-family: "Pretendard Variable";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2.5rem; /* 166.667% */
}

.Each_shows_Name {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;
  /* Body 02 _ SB */
  font-family: "Pretendard Variable";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.875rem; /* 166.667% */
}

.runtime_shows input {
  display: flex;
}
.Detail_show {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;
}

.Each_shows_Name,
.Detail_show {
  display: grid;
  grid-template-columns:
    7.5rem /* 회차 */
    15rem /* 날짜 */
    12rem /* 시간 */
    12rem /* 구매제한매수 */
    12rem /* 가격 */
    6rem; /* 삭제 */
  gap: 1rem;
  padding: 15px 0;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.form_detail_date_2 {
  display: flex;
  justify-content: left;
  color: var(--gray-10-typo-color, #121212);
  gap: 1.87rem;
}

#form_detail_date {
  outline: none;
  width: 45%;
  height: 2.25rem;
  border: 1px solid var(--gray-10-typo-color, #121212);
}

#form_detail_time {
  outline: none;
  width: 100px;
}

.Detail_show input {
  color: #000;
  border: none;
  width: 40px;
}
.form_detail_show {
  outline: none;
}
.form_detail_price {
  outline: none;
}
.form_detail_maxPeople {
  outline: none;
}
.form_detail_number {
  outline: none;
  display: flex;
  width: 5.25rem;
  height: 2.25rem;
  border: 1px solid var(--gray-10-typo-color, #121212);
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  gap: 7px;
}
.ticket_Btn {
  border: none;
  background-color: #fff;
  font-size: 1.2rem;
  &:hover {
    cursor: pointer;
  }
}
/* 삭제 버튼 */
.delete_Btn button {
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  &:hover {
    cursor: pointer;
  }
  &:active {
    transform: translateY(-1px);
  }
}

/* 회차 추가 버튼 */
.add_show {
  display: inline-flex;
  padding: 0.25rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border: 1px solid var(--main-02, #ff3d12);
  background: var(--gray-01-background, #fbfbfb);

  color: var(--main-02, #ff3d12);
  /* Body 04 _ R */
  font-family: "Pretendard Variable";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 171.429% */

  &:hover {
    border: 1px solid var(--main-02, #ff3d12);
    background: var(--Main-04, #ffefec);
  }
  /* 
  &:active {
  } */
}

/* 공연 소개 */
.show_content_Entire {
  margin: 70px 0 30px 0;
}

.show_content textarea {
  color: #000;
  border: 1px solid #fff;
  border-radius: 20px;
  width: 920px;
  height: 300px;
  resize: none;
  padding: 20px;
  font-size: 1.3rem;
  margin-bottom: 50px;
}

.show_content p {
  display: flex;
  margin: -48px 30px 0 0;
  justify-content: flex-end;
  z-index: 10;
}

/* 계좌 입력 */
.Club_account {
  display: flex;
  align-items: flex-start;
  margin: 10px 0 30px 0;
}

.Club_account_space {
  margin: auto;
  font-size: 1.2rem;
  margin-right: 60px;
}
.Club_account_space2 {
  margin: auto;
  font-size: 1.2rem;
}

#handleQr {
  margin-left: 25%;
}

.last_input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: start;
  padding: 0 0 20px 80px;
}

.last_Detail_input input,
.last_Detail2_input input {
  background-color: #161616;
  color: #fff;
  padding: 15px;
  border: 1px solid white;
  border-radius: 10px;
}

.last_Detail_input input {
  width: 250px;
  margin-left: 30px;
}

.last_Detail2_input input {
  width: 50px;
  margin-left: 30px;
}

/* 생성 버튼 */
.make_show_submit {
  width: 17.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 0.625rem;
  border: 1px solid var(--main-02, #ff3d12);
  background: var(--main-02, #ff3d12);
  color: var(--gray-01-background, #fbfbfb);
  text-align: center;
  /* Body 01 _ R */
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.0625rem; /* 165% */
}

.make_show_submit:hover {
  cursor: pointer;
  border: 1px solid var(--Main-01, #b20);
  background: var(--Main-01, #b20);
  box-shadow: 0 6px 12px rgba(235, 90, 60, 0.4);
}

.make_show_submit:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(235, 90, 60, 0.2);
}

.info_Box {
  display: grid;
  grid-template-columns: 6rem minmax(0, 1fr);
  gap: 20px;
  font-size: 1rem;
  line-height: 1.6;
  justify-items: start;
  margin-bottom: 1.25rem;
  justify-items: stretch; /* ← 두 번째 칸이 늘어나게 */
  align-items: center;
}

.fixed_Info {
  display: flex;
  align-items: center;
  width: 5rem;
  height: 2.75rem;
  flex-shrink: 0;
  font-weight: bold;
  color: var(--Point-03, #8e3dff);
  /* Body 02 _ M */
  font-family: "Pretendard Variable";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.875rem; /* 166.667% */
}
.info_txt {
  display: flex;
  width: 120%;
}

.required {
  font: var(--CAPTION);
  color: var(--Warning, #d50024);
  margin-left: 0.2rem;
  padding-top: -20px;
}

.variable_Info {
  color: var(--Gray-03, #ccc);
  /* Body 03 _ R */
  font-family: "Pretendard Variable";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6875rem; /* 168.75% */
  white-space: pre-wrap; /* 줄바꿈 유지 */

  /* display: flex;
  flex-direction: column;
  justify-content: left; */
  width: 100%;
  min-width: 0;
}
.variable_Info > input,
.variable_Info > textarea,
.bank > input,
.manager > input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 16px;
  line-height: 1.5;
  font-family: inherit;
  border: 1px solid var(--gray-10-typo-color, #ccc);
  box-sizing: border-box;
  outline-color: #000;
}

/* input 높이 */
.variable_Info > input {
  height: 2.75rem;
}

/* textarea 고정 + 스크롤바 숨김 */
.variable_Info > textarea {
  height: 6rem;
  resize: none;
  overflow-y: auto;
}
.variable_Info > textarea::-webkit-scrollbar {
  display: none;
}
.variable_Info > textarea {
  scrollbar-width: none; /* Firefox */
}

.variable_Info select {
  height: 2.75rem;
  display: flex;
  justify-content: left;
  padding: 0.25rem 0.5rem;
  font-size: 15px;
}

.bank,
.manager {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
}

.smallInfo {
  display: flex;
  justify-items: left;
  color: var(--Warning, #d50024);
  /* Caption _ R */
  font-family: "Pretendard Variable";
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem; /* 163.636% */
}

.sns {
  display: flex;
  width: 98% !important;
  margin-left: 2.5rem;
  margin-bottom: 1rem;
  gap: 20px;
  align-items: center;
}

.sns_icon > img {
  width: 24px;
}

.sns_link {
  width: 94% !important;
  margin-left: 0.2rem;
}

.modal {
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
}
.modal_con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: var(--BODY01_SB);
}

.modal_con img {
  width: 9rem;
  height: 9rem;
  flex-shrink: 0;
}

.modal_Btns {
  display: flex;
  padding-top: 2rem;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.modal_reserv_Btn {
  display: inline-flex;
  padding: 0.25rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border: 1px solid var(--main-02, #ff3d12);
  background: var(--main-02, #ff3d12);

  color: var(--gray-01-background, #fbfbfb);
  /* Body 04 _ R */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 171.429% */
  letter-spacing: 0.00875rem;
  &:hover {
    cursor: pointer;
  }
}

@media (max-width: 480px) {
  .show_Top {
    width: 100vw - 20px;
  }
}
