.main {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 2;
  padding-bottom: 50px;
}

.main img:first-child {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  width: 100%;
}

.scrollBtn {
  position: absolute;
  top: 400px;
  left: 10%;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 900;
}

.scrollBtn:hover {
  transform: scale(1.1);
}

.qnaSection,
.contactSection {
  width: 100%;
  padding: 40px 128px;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .main img:first-child {
    display: none;
  }
  .scrollBtn {
    display: none;
  }
  .qnaSection,
  .contactSection {
    padding: 0 30px;
  }
}
.title {
  color: #ff3d12;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 32px;
}
.category {
  background: var(--Gray-08, #3e3e3e);
  color: #fff;
  font-weight: 700;
  display: inline-block;
  padding: 6px 18px;
  border-radius: 8px;
  margin: 32px 0 16px 0;
  font-size: 1.1rem;
}
.qna {
  margin-bottom: 24px;
}
.question {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 6px;
}
.answer {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 12px;
}
.contactInfo {
  margin-top: 24px;
}
.contactInfo div {
  margin-bottom: 12px;
}
.email a,
.phone a {
  color: inherit;
  text-decoration: none;
}
.email span,
.phone span {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}
/* 모바일 대응 */
@media (max-width: 768px) {
  .scrollBtn {
    left: 8%;
    width: 50px;
    height: 50px;
  }
}
