.body {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: #fbfbfb;

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.18px;
}

.logo_box {
  margin-bottom: 40px;
}

.words_box {
  margin-bottom: 156px;
}

.highlight_word {
  color: var(--ORANGE);
}

.google_login_btn:hover {
  cursor: pointer;
}

.caution {
  color: red;
  font-size: 14px;
  font-weight: 400;
}