.main{
  background: var(--gray-01-background, #FBFBFB);
  padding: 28px 128px 160px 128px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.categoryText{
  color: var(--gray-10-typo-color, #121212);
  font:var(--TITLE06);
}

@media (max-width: 600px) {
.main{
  padding: 8px 20px 90px 20px;
}

  .categoryText{
    font:var(--BODY01_B);
  }
  
}
