.mainPage {
  background: var(--gray-01-background, #fbfbfb);
  padding: 28px 128px 128px 128px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.categoryText {
  font: var(--TITLE06);
}

@media (max-width: 600px) {
  .mainPage {
    padding: 8px 20px 90px 20px;
  }

  .categoryText {
    font: var(--BODY01_B);
  }
}
