.wrap {
  display: flex;
  flex-direction: row;
  padding: 20px 100px 40px 40px;
}

.back_Div {
  margin-left: 85px;
}

.back_Btn {
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.recruite_Intro {
  display: flex;
  padding-left: 20px;
}

.intro_Info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
}

.intro_con {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 80px;
}

.intro_con_left {
  flex: 0 0 420px;
  max-width: 420px;
  min-width: 240px;
  margin-bottom: 0;
}

.recruite_Intro {
  display: flex;
  gap: 30px;
}

.recruite_Pic {
  width: 22.48175rem;
  height: 31.75rem;
  flex-shrink: 0;
  aspect-ratio: 359.71/508;
  border: 8px solid var(--gray-01-background, #fbfbfb);
  box-shadow: 8px 8px 20px 0px rgba(0, 0, 0, 0.25);
}

.recruite_Top {
  font-size: 24px;
  font-weight: bold;
  color: #121212;
  margin-bottom: 30px;
  text-align: left;
}

.recruite_Info {
  flex: 1 1 0;
  min-width: 0;
  text-align: left;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 36px;
}

.club {
  font-size: 24px;
  font-weight: bold;
  color: #ff3d12;
  margin-bottom: 20px;

  &:hover {
    cursor: pointer;
  }
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info_Box {
  display: flex;
  gap: 20px;
  font-size: 16px;
  line-height: 1.6;
}

.fixed_Info {
  min-width: 100px;
  font-weight: bold;
  color: #8e3dff;
}

.variable_Info {
  color: #333;
  gap: 10px;
}

.disabled_Label {
  color: #acacac !important;
}

.ticket_Box {
  margin-top: 20px;
  padding-top: 20px;
}

.section {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 24px;
  letter-spacing: 0.045rem;
}

.recruite_apply {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 200px;
}

.apply_Btn {
  width: 260px;
  height: 41px;
  background: #ff3d12;
  color: #fbfbfb;
  border: none;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.0625rem; /* 165% */
  letter-spacing: 0.0125rem;

  &:hover {
    cursor: pointer;
    background: var(--DEEPORANGE);
  }
}

.sns_icons {
  display: flex;
  justify-content: left;
  gap: 16px;
  margin-top: 24px;
  margin-bottom: 20px;
}

.sns_icon {
  height: 1.5rem;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.clubDetailText {
  text-align: left;
  line-height: 1.6;
}
