.wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 20px;
}

.back_Div {
  margin-left: 85px;
}

.back_Btn {
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.recruite_Intro {
  display: flex;
  padding-left: 20px;
}

.intro_Info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
}

.intro_con {
  width: 100vw - 24px;
}

.intro_con_left {
  width: 35%;
  margin-bottom: 20px;
}

.recruite_Intro {
  display: flex;
  max-width: 100vw;
  gap: 40px;
}

.recruite_Pic {
  width: 22.48175rem;
  height: 31.75rem;
  flex-shrink: 0;
  aspect-ratio: 359.71/508;
  border: 8px solid var(--gray-01-background, #fbfbfb);
  box-shadow: 8px 8px 20px 0px rgba(0, 0, 0, 0.25);
}

.intro_con {
  display: flex;
  flex-direction: row;
}

.recruite_Top {
  width: 100vw - 20px;
  font-size: 24px;
  font-weight: bold;
  color: #121212;
  margin-bottom: 30px;
  text-align: left;
}

.recruite_Info {
  width: 550px;
  margin-left: 64px;
  text-align: left;
}

.title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 5px;
}

.club {
  font-size: 24px;
  font-weight: bold;
  color: #ff3d12;
  margin-bottom: 20px;
  width: 40%;

  &:hover {
    cursor: pointer;
  }
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info_Box {
  display: flex;
  gap: 10px;
  font-size: 16px;
  line-height: 1.6;
}

.fixed_Info {
  width: 60px;
  font-weight: bold;
  color: #6666ff;
}

.variable_Info {
  color: #333;
  white-space: pre-line;
}

.disabled_Label {
  color: #acacac !important;
}

.ticket_Box {
  margin-top: 20px;
  padding-top: 20px;
}

.section {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 24px;
  letter-spacing: 0.045rem;
}

.fixed_Info {
  color: #8e3dff;
}

.recruite_apply {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 160px;
  margin-left: 50%;
}

.apply_Btn {
  width: 260px;
  height: 41px;
  background: #ff3d12;
  color: #fbfbfb;
  border: none;
  font-family: "IBM Plex Sans KR";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.0625rem; /* 165% */
  letter-spacing: 0.0125rem;
}

.sns_icons {
  display: flex;
  justify-content: left;
  gap: 16px;
  margin-top: 24px;
  margin-bottom: 20px;
}

.sns_icon {
  height: 1.5rem;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.clubDetailText {
  display: flex;
  text-align: left;
}
