.desktop {
  width: 100%;
}

.mobile {
  display: none;
}

.wrap {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.back_Div {
  margin-left: 85px;
}

.back_Btn {
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.show_Intro {
  display: flex;
}

.intro_Info {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 95%;
}

.intro_con {
  max-width: 80rem;
  width: 100%;
}

.show_con {
  margin-left: 128px;
}

.show_Intro {
  display: flex;
  max-width: 100vw;
  gap: 40px;
}

.show_Pic {
  width: 25rem;
  height: 35rem;
  aspect-ratio: 3 / 4;
  flex-shrink: 0;
  object-fit: contain;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.25);
  overflow: hidden;

  border: 8px solid var(--Gradient-01, #fbfbfb);
}

.intro_con {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
}

.intro_con_left {
  width: 22.5625rem;
  flex-shrink: 0;
}

.recruite_left_cont {
  width: 22.5625rem !important;
  max-width: 500px !important;
  flex-shrink: 0;
}

.recruiting_info_content {
  max-width: 500px;
}

.show_Top {
  font-size: 24px;
  font-weight: bold;
  color: #121212;
  margin-bottom: 1.5rem;
  text-align: left;
}

.back_Div {
  display: none;
}

.show_Info {
  margin-left: 4rem;
  text-align: left;
}

.title {
  font: var(--TITLE02_B);
  margin-bottom: 5px;
}

.club {
  font: var(--TITLE06);
  color: #ff3d12;
  margin-bottom: 2.56rem;
  width: 60%;

  &:hover {
    cursor: pointer;
  }
}

.shortsInfo {
  display: none;
}

.sectionBtns {
  display: none;
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.info_Box {
  display: flex;
  gap: 10px;
  font-size: 1rem;
  line-height: 1.6;
}

.fixed_Info {
  width: 60px;
  flex-shrink: 0;
  font-weight: bold;
  font: var(--BODY03_B);
  color: #8e3dff;
}
.info_txt {
  display: inline-block;
  width: 100%;
}

.variable_Info {
  color: #333;
  font: var(--BODY03);
}

.variable_Info a {
  color: #ff3d12; /* 링크 색상 */
  text-decoration: underline; /* 밑줄 */
}

.variable_Info a:hover {
  color: #d50024; /* 호버 시 색상 */
}

/* 공연 회차 선택 등 */
.show_ticket {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 60px;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 1200px;
  flex-shrink: 0;
}

.disabled_Label {
  color: #acacac !important;
  pointer-events: none;   /* 마우스 클릭/호버 무시 */
  cursor: not-allowed;    /* 비활성 커서 표시 */
  opacity: 0.6;           /* 시각적 비활성화 */
  user-select: none;
}

.selected_Label {  
  border-color: transparent;         /* 기존 border는 투명하게 유지 */
  outline: 3px solid #FF3D12;        /* ✅ outline은 크기 변동 없음 */
  outline-offset: -2px;     
}

.people_Count {
  color: #ff3d12;
}

.ticket_Box {
  margin-top: 20px;
  padding-top: 20px;
}

.section {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.045rem;
}

.selectSch{
  display: grid;
  width:100%;
  gap: 1rem;
  margin-top: 12px;
  grid-template-columns: repeat(3, 1fr);
}
#time {
  font: var(--BODY02_B)
}

#sch_mid{
  font: var(--BODY04_M);
}

.sch_Item {
  display: flex;
  width: 325px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--Gray-03, #CCC);
  background: var(--gray-01-background, #FBFBFB);
  padding: 12px;
  cursor: pointer;
  min-height: 100px;
  appearance: none;
}

.sch_Item > input[type="radio"] {
  align-self: center; /* 혹시 모를 상속/중첩 깨짐 대비 */
  margin: 0; /* 브라우저 기본 여백 제거 */
  margin-right: 0.75rem;
}

.ticket_Radio {
  display: flex;
  accent-color: #121212;
  appearance: none;
  cursor: pointer;
}

.order{
  font: var(--BODY01_M);
  align-items: flex-start;
  margin-right: 38px;
  margin-left: 18px;
}

.sch_info{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.ticket_Btns {
  display: flex;
  width: 4.5rem;
  height: 2.25rem;
  border-radius: 3px;
  border: 1px solid var(--gray-10-typo-color, #121212);
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.ticket_Count {
  font-size: 1rem;
  font-style: normal;
}

.ticket_Btn {
  border: none;
  background-color: #FBFBFB;
  font-size: 1.2rem;
  &:hover {
    cursor: pointer;
  }
}

.count_info {
  color: var(--Warning, #d50024);
  font: var(--CAPTION);
}

.total {
  font: var(--TITLE01);
  display: flex;
  justify-content: right;
}

.Reser_Btn {
  background: #ff3d12;
  color: #fbfbfb;
  border: none;
  font: var(--BODY01);

  display: inline-flex;
  padding: 0.25rem 5.35rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  &:hover {
    cursor: pointer;
  }
}

.Reser_Btn_dis {
  color: #7f7f7f;
  background: #acacac;
  border: none;
  font: var(--BODY01);

  display: inline-flex;
  padding: 0.25rem 5.35rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.modal_strong {
  color: var(--main-02, #ff3d12);
  font: var(--BODY03_SB);
}

.modal_strong_bl {
  color: var(--gray-10-typo-color, #121212);
  text-align: center;
  font: var(--BODY03_B);
}

.modal {
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
}

.modal.modal_succ_re {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  padding-bottom: 0px;
  position: relative;
  width: 25.75rem;
  height: 30rem;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.modal_top {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--gray-10-typo-color, #121212);
  text-align: center;
  font: var(--BODY01_SB);
}

.modal_mid {
  display: flex;
  flex-direction: row;
}

.modal_con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: var(--BODY01_SB);
}

.modal_con img {
  width: 9rem;
  height: 9rem;
  flex-shrink: 0;
  margin-bottom: 1rem;
}

.modal_Btns {
  display: flex;
  padding-top: 2rem;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.modal_close_Btn {
  display: flex;
  width: 6.1875rem;
  padding: 0.25rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border: 1px solid var(--main-02, #ff3d12);
  background: var(--gray-01-background, #fbfbfb);
  color: var(--main-02, #ff3d12);
  font: var(--BODY04);
  line-height: 1.5rem; /* 171.429% */
  letter-spacing: 0.00875rem;
  &:hover {
    cursor: pointer;
  }
}

.modal_reserv_Btn {
  display: inline-flex;
  padding: 0.25rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border: 1px solid var(--main-02, #ff3d12);
  background: var(--main-02, #ff3d12);

  color: var(--gray-01-background, #fbfbfb);
  font: var(--BODY04);

  &:hover {
    cursor: pointer;
  }
}

.modal_ok_Btn {
  display: inline-flex;
  padding: 0.25rem 1.5rem;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-02, #ff3d12);
  background: var(--main-02, #ff3d12);
  margin-top: 2.3rem;

  /* Typo*/

  color: var(--gray-01-background, #fbfbfb);
  font: var(--BODY04);
  &:hover {
    cursor: pointer;
  }
}

@media (min-width: 1600px) {
  .selectSch {
    grid-template-columns: repeat(4, 1fr); /* 2개씩 배치 */
  }
}

@media (max-width: 600px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
    width: 100%;
  }

  .wrap {
    margin: 0;
    padding: 0;

    width: 100vw;
  }
}

.show_row{
  display: flex;
  flex-direction: row;
  padding-right: 128px;
  justify-content: space-between;
  margin-bottom: 160px;
}