.wrap {
  display: flex;
  flex-direction: row;
  width: 80rem;
  padding-top: 20px;
}

.back_Div {
  margin-left: 85px;
}

.back_Btn {
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.show_Intro {
  display: flex;
  padding-left: 20px;
}

.intro_Info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.intro_con {
  width: 80rem;
}

.show_Intro {
  display: flex;
  max-width: 100vw;
  gap: 40px;
}

.show_Pic {
  width: 28.5625rem;
  height: 40.375rem;
  flex-shrink: 0;
  object-fit: contain;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.25);

  border: 8px solid var(--Gradient-01, #fbfbfb);
}

.intro_con {
  display: flex;
  flex-direction: row;
}

.intro_con_left {
  width: 22.5625rem;
  flex-shrink: 0;
}

.recruite_left_cont {
  width: 22.5625rem !important;
  max-width: 500px !important;
  flex-shrink: 0;
}

.recruiting_info_content {
  max-width: 500px;
}

.show_Top {
  width: 100vw - 20px;
  font-size: 24px;
  font-weight: bold;
  color: #121212;
  margin-bottom: 30px;
  text-align: left;
}

.show_Info {
  width: 650px;
  margin-left: 64px;
  text-align: left;
}

.title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 5px;
}

.club {
  font-size: 24px;
  font-weight: bold;
  color: #ff3d12;
  margin-bottom: 20px;
  width: 40%;

  &:hover {
    cursor: pointer;
  }
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info_Box {
  display: flex;
  gap: 10px;
  font-size: 1rem;
  line-height: 1.6;
}

.fixed_Info {
  width: 60px;
  flex-shrink: 0;
  font-weight: bold;
  color: #8e3dff;
}
.info_txt {
  display: inline-block;
  width: 100%;
}

.variable_Info {
  color: #333;
  white-space: pre-wrap; /* 줄바꿈 유지 */
}

/* 공연 회차 선택 등 */
.show_ticket {
  margin-top: 40px;
  margin-bottom: 100px;
  padding-left: 30px;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  text-align: left;
  gap: 20px;
  width: 79.9375rem;
  max-width: 1200px;
  height: 24.375rem;
  flex-shrink: 0;
}

.disabled_Label {
  color: #acacac !important;
}

.selected_Label {
  color: var(--gray-10-typo-color, #121212);
  /* Body 03 _ M */
  font-size: 1rem;
  font-style: normal;
  font-weight: bolder;
  line-height: 1.6875rem; /* 168.75% */
  letter-spacing: 0.01rem;
  &:hover {
    cursor: pointer;
  }
}

.people_Count {
  color: #ff3d12;
}

.ticket_Box {
  margin-top: 20px;
  padding-top: 20px;
}

.section {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 24px;
  letter-spacing: 0.045rem;
}

.sch_Item {
  display: flex;
  width: 100%;
}

.ticket_Radio {
  accent-color: #121212;
  margin-bottom: 24px;
  letter-spacing: 0.01rem;
  &:hover {
    cursor: pointer;
  }
}

.ticket_Btns {
  display: flex;
  width: 5.25rem;
  height: 2.25rem;
  border: solid 1px #acacac;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.ticket_Count {
  font-size: 1rem;
  font-style: normal;
}

.ticket_Btn {
  border: none;
  background-color: #fff;
  font-size: 1.2rem;
  &:hover {
    cursor: pointer;
  }
}

.count_info {
  color: var(--Warning, #d50024);
  /* Caption _ R */
  font-family: "IBM Plex Sans KR";
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem; /* 163.636% */
  letter-spacing: 0.00688rem;
}

.total {
  font-family: "IBM Plex Sans KR";
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  font-weight: bolder;
  line-height: 5.25rem; /* 150% */
  letter-spacing: 0.105rem;
}

.Reser_Btn {
  background: #ff3d12;
  color: #fbfbfb;
  border: none;
  font-family: "IBM Plex Sans KR";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.0625rem; /* 165% */
  letter-spacing: 0.0125rem;

  display: inline-flex;
  padding: 0.25rem 5.35rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  &:hover {
    cursor: pointer;
  }
}

.Reser_Btn_dis {
  color: #7f7f7f;
  background: #acacac;
  border: none;
  font-family: "IBM Plex Sans KR";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.0625rem; /* 165% */
  letter-spacing: 0.0125rem;

  display: inline-flex;
  padding: 0.25rem 5.35rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.modal_strong {
  color: var(--main-02, #ff3d12);
  /* Body 03 _ SB */
  font-family: "IBM Plex Sans KR";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6875rem;
  letter-spacing: 0.01rem;
}

.modal_strong_bl {
  color: var(--gray-10-typo-color, #121212);
  text-align: center;
  /* Body 03 _ B */
  font-family: "IBM Plex Sans KR";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6875rem; /* 168.75% */
  letter-spacing: 0.01rem;
}

.modal {
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
}

.modal.modal_succ_re {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  padding-bottom: 0px;
  position: relative;
  width: 25.75rem;
  height: 30rem;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.modal_top {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--gray-10-typo-color, #121212);
  text-align: center;
  /* Body 01 _ SB */
  font-family: "IBM Plex Sans KR";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.0625rem; /* 165% */
  letter-spacing: 0.0125rem;
}

.modal_mid {
  display: flex;
  flex-direction: row;
}

.modal_con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal_con img {
  width: 9rem;
  height: 9rem;
  flex-shrink: 0;
  margin-bottom: 1rem;
}

.modal_Btns {
  display: flex;
  padding-top: 1rem;
  margin-bottom: 1.25rem;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.modal_close_Btn {
  display: flex;
  width: 6.1875rem;
  padding: 0.25rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border: 1px solid var(--main-02, #ff3d12);
  background: var(--gray-01-background, #fbfbfb);
  color: var(--main-02, #ff3d12);
  /* Body 04 _ R */
  font-family: "IBM Plex Sans KR";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 171.429% */
  letter-spacing: 0.00875rem;
  &:hover {
    cursor: pointer;
  }
}

.modal_reserv_Btn {
  display: inline-flex;
  padding: 0.25rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border: 1px solid var(--main-02, #ff3d12);
  background: var(--main-02, #ff3d12);

  color: var(--gray-01-background, #fbfbfb);
  /* Body 04 _ R */
  font-family: "IBM Plex Sans KR";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 171.429% */
  letter-spacing: 0.00875rem;
  &:hover {
    cursor: pointer;
  }
}

.modal_ok_Btn {
  display: inline-flex;
  padding: 0.25rem 1.5rem;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-02, #ff3d12);
  background: var(--main-02, #ff3d12);
  margin-top: 2.3rem;

  /* Typo*/

  color: var(--gray-01-background, #fbfbfb);
  font-family: "IBM Plex Sans KR";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 171.429% */
  letter-spacing: 0.00875rem;
  &:hover {
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .show_Top {
  }
}
