.column {
  display: flex;
  flex-direction: column;
}

.categoryHeader {
  position: relative;
}

.title {
  font: var(--TITLE06);
  text-align: left;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.showlist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  justify-items: center;
  /* padding: 20px; */
}

.category {
  display: flex;
  flex-direction: row;

  margin-top: 12px;
  margin-bottom: 64px;
  cursor: pointer;
}

.inactiveCategory {
  display: inline-flex;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: 1px solid var(--gray-10-typo-color, #121212);
  background: var(--gray-10-typo-color, #fbfbfb);

  margin-right: 16px;

  &:hover {
    cursor: pointer;
  }
}

.inactiveCategory span {
  color: var(--gray-01-background, #121212);

  font-size: 16px;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  letter-spacing: 0.16px;
}

.inactiveCategory:hover {
  background: var(--gray-02-footer-background, #eaeaea);
}

.activeCategory {
  display: inline-flex;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: 1px solid var(--gray-10-typo-color, #121212);
  background: var(--gray-10-typo-color, #121212);

  margin-right: 16px;

  &:hover {
    cursor: pointer;
  }
}

.activeCategory span {
  color: var(--gray-01-background, #fbfbfb);
  font-size: 16px;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  letter-spacing: 0.16px;
}

.showCard {
  display: flex;
}


@media (max-width: 600px) {
  .main{
    padding-top: 64px !important;
  }

  .column{
    width:100%;
  }

  .title{
    font:var(--BODY03_SB);
  }

  .buttons{
    margin-top:8px;
  }

  .category{
    margin-bottom:32px;
    overflow-x: auto;       /* 좌우 스크롤 가능하게 만듦 */
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .category::-webkit-scrollbar {
    display: none;
  }

  .inactiveCategory{
    margin-right: 12px;
    border-radius: 4px;
  }

  .inactiveCategory span{
    font:var(--BODY04);
    
  }

  .activeCategory{
    margin-right: 12px;
    border-radius: 4px;
  }

  .activeCategory span{
    font:var(--BODY04);
  } 

  .showlist{
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
    gap: 10px; 
    width:100%;

    padding-top: 0px;
  }
}

