.clubCard {
  width: 236px;
  height: 284px;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 40px;
  cursor: pointer;

  transition: box-shadow 0.2s ease;
}
.clubCard :hover {
  box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.25);
  font: var(--BODY01_B);
  color: var(--main-02, #ff3d12);
}

.clubCard:hover .name {
  font: var(--BODY01_B);
  color: var(--main-02, #ff3d12);
}

.clubImg {
  width: 236px;
  height: 236px;

  background-color: rgb(67, 67, 67);
}

.mainImg {
  width: 236px;
  height: 236px;
  object-fit: cover;
}

.name {
  color: var(--gray-10-typo-color, #121212);
  text-align: center;

  font-size: 20px;
  font-weight: 700;

  line-height: 33px; /* 166.667% */
  letter-spacing: 0.2px;

  margin-top: 12px;
}
