.column {
  display: flex;
  flex-direction: column;
}

.noData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 200px;
  color: var(--GRAY-04, #888888);
  font: var(--BODY01);

  grid-column: 1 / -1; /* 모든 컬럼을 차지 */
  text-align: center;
}

.categoryHeader {
  position: relative;
}

.title {
  font: var(--TITLE06);
  text-align: left;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.showlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 36px;
  width: 100%;
  justify-items: stretch; /* 카드가 칼럼폭을 꽉 채우게 */
}

.category {
  display: flex;
  flex-direction: row;

  margin-top: 12px;
  margin-bottom: 32px;
  cursor: pointer;
}

.inactiveCategory {
  display: inline-flex;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: 1px solid var(--gray-10-typo-color, #121212);
  background: var(--gray-10-typo-color, #fbfbfb);

  margin-right: 16px;

  &:hover {
    cursor: pointer;
  }
}

.inactiveCategory span {
  color: var(--gray-01-background, #121212);

  font-size: 16px;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  letter-spacing: 0.16px;
}

.inactiveCategory:hover {
  background: var(--gray-02-footer-background, #eaeaea);
}

.activeCategory {
  display: inline-flex;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: 1px solid var(--gray-10-typo-color, #121212);
  background: var(--gray-10-typo-color, #121212);

  margin-right: 16px;

  &:hover {
    cursor: pointer;
  }
}

.activeCategory span {
  color: var(--gray-01-background, #fbfbfb);
  font-size: 16px;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  letter-spacing: 0.16px;
}

.showCard {
  display: flex;
}

@media (max-width: 600px) {
  .column {
    width: 100%;
    padding: 0;
  }

  .title {
    display: none;
  }

  .buttons {
    margin-top: 8px;
  }

  .category {
    margin-bottom: 32px;
    overflow-x: auto; /* 좌우 스크롤 가능하게 만듦 */
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    gap: 10px;
  }

  .category::-webkit-scrollbar {
    display: none;
  }

  .inactiveCategory, .activeCategory {
    border-radius: 4px;
    padding: 4px 12px;
    margin: 0;
  }

  .inactiveCategory span, .activeCategory span {
    font: var(--BODY04);
    font-size: 12px;
  }

  .showlist {
    grid-template-columns: repeat(2, minmax(160px, 1fr));
    gap: 10px;
    width: 100%;

    padding-top: 0px;
  }

  .noData {
    font-size: 14px;
  }
}