.footer{
  height: 200px;
  flex-shrink: 0;

  background: #EAEAEA;

  box-sizing: border-box;
  padding:12px 128px 20px 128px;
}

.firstContainer{
  width: 20%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color:rgba(62, 62, 62, 1);
}

.firstContainer span{
  font-weight: 500;
}

.firstContainer span:hover{
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

.secondContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.secondContainer p{
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 11px;
  font-weight: 500;
  color: var(--Gray-06, #636363);
}

.logoImg{
  margin-top:7px;
  margin-bottom:17px;
}

.contact{
  span a{
    color: var(--Gray-06, #636363);
    text-decoration: none;
  }
  span a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.insta{
  display: flex;
  margin-top:7px;
  margin-bottom:21px;
  &:hover {
    cursor: pointer;
  }
}

.insta span{
  color: var(--Gray-08, #3E3E3E);
  font-size: 11px;
  font-weight: 500;

  margin-left:6px;
}

.secondContainer span{
  color: var(--Gray-06, #636363);
  font-size: 11px;
}