.footer {
  width: 100%;
  flex-shrink: 0;

  background: #eaeaea;

  box-sizing: border-box;
  padding: 12px 128px 20px 128px;
  position: relative;
  z-index: 1000;
}

.logos {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 12px;
  img {
    cursor: pointer;
  }
}

.verticalLine {
  width: 1px;
  height: 20px;
  background-color: #636363;
  opacity: 0.5;
}

.likelion {
  height: 20px;
  width: auto;
}

.likelionhgu {
  height: 30px;
  width: auto;
  border-radius: 50%;
}

.firstContainer {
  width: 40%;
  display: flex;
  gap: 20px;
  fill: var(--Gray-08, #3e3e3e);
}

.secondContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.secondContainer div {
  font-size: 11px;
  font-weight: 500;
  color: var(--Gray-06, #636363);
}

.contact {
  span a {
    color: var(--Gray-06, #636363);
    text-decoration: none;
  }
  span a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.insta {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
  cursor: pointer;
}

.insta span {
  color: var(--Gray-08, #3e3e3e);
  font-size: 11px;
  font-weight: 500;

  margin-left: 6px;
}

.secondContainer span {
  color: var(--Gray-06, #636363);
  font-size: 11px;
}

@media (max-width: 900px) {
  .footer {
    padding: 12px 32px 20px 32px;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 12px 16px 20px 16px;
  }
  .firstContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    grid-template-columns: none;
    text-align: left;
    gap: 8px;
  }
  .firstContainer div {
    font-size: 12px;
    margin-bottom: 4px;
  }
  .secondContainer {
    align-items: flex-start;
    margin-top: 12px;
    text-align: left;
  }
  .secondContainer div,
  .secondContainer span {
    font-size: 10px;
    text-align: left;
  }
  .logoImg {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80px;
    height: auto;
    display: block;
    margin-right: 0;
  }
  .verticalLine {
    height: 15px;
  }
  .insta {
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0;
  }
  .insta span {
    font-size: 10px;
    margin-left: 4px;
    margin-bottom: 0;
  }
  .copyRight {
    margin-top: 10px;
  }
}
