.logo {
  cursor: pointer;
}

.manager_caution {
  color: var(--main-02, #ff3d12);
  margin-left: 16px;
  white-space: nowrap;

  /* Caption _ SB */
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
}

.right div {
  cursor: pointer;
}

.header {
  height: 88px;
  width: 100vw;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: var(--gray-01-background, #fbfbfb);
  padding: 0px 128px;
}

.left_section {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
}

.right div {
  width: 96px;
  height: 32px;
  flex-shrink: 0;
  padding: auto;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.watching:hover {
  font-weight: 700;
}

.recruiting:hover {
  font-weight: 700;
}

.club:hover {
  font-weight: 700;
}

.login {
  border: 1px solid black;
  margin-left: 68px;
}

.login:hover {
  font-weight: 700;
}

.back {
  position: relative;
}

.background {
  vertical-align: middle;
}

.nan {
  display: none;
}

.fronttext {
  position: absolute;
  font-weight: 700;
  color: var(--gray-01-background, #fbfbfb);
}

.selectPadding {
  padding: 0 !important;
}

.profile_btn {
  width: 30px !important;
  height: 30px !important;
  margin-left: 33px;
}

.sidebar {
  display: none;
}

@media (max-width: 440px) {
  .right {
    display: none;
  }

  .sidebar {
    display: block;
    cursor: pointer;
  }

  .header {
    padding: 0 24px;
    height: 64px;
  }

  .logo img {
    width: 100px;
    height: 20px;
  }

  .manager_caution {
    font-size: 10px;
    margin-left: 12px;
  }
}
