.banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.noData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 200px;
  color: var(--GRAY-04, #888888);
  font: var(--BODY01);
  font-size: 14px;

  grid-column: 1 / -1; /* 모든 컬럼을 차지 */
  text-align: center;
}

.text {
  font: var(--BODY01_B);
  color: var(--BLACK);

  margin-top: 15px;
  margin-left: 22px;
  margin-bottom: 15px;
}

.container {
  width: 100vw;
  height: 460px;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  overflow-x: hidden; /* 튀어나간 부분 숨김 */
}

.MainImg {
  position: relative;
  width: 313.682px;
  height: 443px;
  flex-shrink: 0;

  margin: 0px 10px 0px 10px;

  z-index: 1;
}

.MainImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border: 4px solid var(--gray-02-footer-background, #eaeaea);
  background: lightgray 50% / cover no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 102%;
  height: 102%;

  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45.94%, #000 100%);
  z-index: 2;
  pointer-events: none; /* ✅ 클릭은 이미지로 전달되게 */
}

.MainImg span {
  color: #fff;
  position: absolute;

  white-space: nowrap; /* ✅ 한 줄로 표시 */
  overflow: hidden; /* ✅ 넘치는 건 잘라냄 */
  text-overflow: ellipsis; /* ✅ 잘린 부분에 ... */
  max-width: 270px;
}

.name {
  top: 340px;
  left: 20px;
  font: var(--TITLE06);
  z-index: 5;
}

.date {
  top: 375px;
  left: 20px;
  font: var(--BODY03_SB);
  z-index: 5;
}

.clubName {
  top: 418px;
  left: 20px;
  font: var(--CAPTION_B);
  z-index: 5;
}

.imgBox {
  width: 293.856px;
  height: 415px;
  flex-shrink: 0;
  aspect-ratio: 293.86/415;

  margin: 0px 10px 0px 10px;
}

.miniImgBox {
  width: 273.856px;
  height: 385px;
  flex-shrink: 0;
  aspect-ratio: 273.86/385;

  margin: 0px 10px 0px 10px;
}

.miniImgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border: 4px solid var(--gray-02-footer-background, #eaeaea);
  background: lightgray 50% / cover no-repeat;
}

.imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border: 4px solid var(--gray-02-footer-background, #eaeaea);
  background: lightgray 50% / cover no-repeat;
}

.imgBox1 {
}

.fade {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  &:hover {
    cursor: pointer;
  }
}

.show {
  opacity: 1;
  cursor: pointer;
}
