.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
}

.modal {
  display: flex;
  flex-direction: column;
  background: white;
  position: relative;
  width: 25.75rem;
  min-height: 8rem;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;

  border-radius: 0.75rem;
}

.modal_close {
  display: flex;
  width: 6.1875rem;
  padding: 0.25rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
