.banner {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
}

.text{
  font:var(--BODY01_B);
  color:var(--BLACK);

  margin-top: 15px;
  margin-left: 22px;
  margin-bottom: 15px;
}

.container{
  width: 100vw;
  height: 460px;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.MainImg{
  width: 313.682px;
  height: 443px;
  flex-shrink: 0;
  aspect-ratio: 313.68/443.00;

  margin:0px 10px 0px 10px;
}

.MainImg img{
  width: 100%;
  height: 100%;
  object-fit: cover;

  border: 4px solid var(--gray-02-footer-background, #EAEAEA);
  background: lightgray 50% / cover no-repeat;
}

.imgBox{
  width: 293.856px;
  height: 415px;
  flex-shrink: 0;
  aspect-ratio: 293.86/415.00;

  margin:0px 10px 0px 10px;
}

.miniImgBox{
  width: 273.856px;
  height: 385px;
  flex-shrink: 0;
  aspect-ratio: 273.86/385.00;

  margin:0px 10px 0px 10px;
}

.miniImgBox img{
  width: 100%;
  height: 100%;
  object-fit: cover;

  border: 4px solid var(--gray-02-footer-background, #EAEAEA);
  background: lightgray 50% / cover no-repeat;

}

.imgBox img{
  width: 100%;
  height: 100%;
  object-fit: cover;

  border: 4px solid var(--gray-02-footer-background, #EAEAEA);
  background: lightgray 50% / cover no-repeat;
}

.imgBox1{

}

.fade {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  &:hover {
    cursor: pointer;
  }
}

.show {
  opacity: 1;
  cursor: pointer;
}