.card {
  width: 600px;
  height: 230px;
  margin-bottom: 20px;
  display: flex;
}

.card_img_box {
  width: 145px;
  height: 205px;
}

.card_img {
  width: 145px;
  height: 205px;
  &:hover {
    cursor: pointer;
  }
}

.card_text_box {
  width: 318px;
  padding-left: 20px;
  padding-right: 10px;
  align-items: left;
}

.card_title {
  font-family: "IBM Plex Sans KR";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 150% */
  letter-spacing: 0.96px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    cursor: pointer;
  }
}

.card_content {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.card_content_hidden {
  visibility: hidden;
  height: 24px;
  overflow: hidden;
}

#account_info {
  color: var(--ORANGE);
}

.card_info_box {
  align-items: left;
}

.card_info_header {
  margin-right: 3px;
  font-weight: 700;
}

#order_box {
  display: flex;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.14px;
}

.card_order {
  margin-right: 5px;
  padding-left: 4px;
  padding-right: 5px;
  border-radius: 10px;
  background-color: #f2e8ff;
  color: #8e3dff;
}

.ticket_info {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  text-align: center;
  margin-top: 15px;
}

.ticket_num {
  grid-column: 1;
  grid-row: 1;
  border-right: 1px solid black;
}

.ticket_price {
  grid-column: 2;
  grid-row: 1;
  border-right: 1px solid black;
}

.deposit_status {
  grid-column: 3;
  grid-row: 1;
}
