.showCard{
  cursor: pointer;
}

.showCard{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 238px;
  height: 430px;

  margin-bottom: 40px;
}

.card img{
  width: 223.875px;
  height: 328px;

  border: 4px solid var(--gray-02-footer-background, #EAEAEA);
  background: lightgray 50% / cover no-repeat;
}

.name{
  color: var(--main-02, #FF3D12);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 33px; /* 165% */
  letter-spacing: 0.2px;

  margin-top: 12px;
  margin-bottom: 4px;
}

.title{
  font-size: 14px;
}