.column {
  display: flex;
  flex-direction: column;
}

.categoryText {
  color: var(--gray-10-typo-color, #121212);
  font: var(--TITLE06);
}

.recruitingList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;

  padding-top: 32px;
  justify-items: stretch;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.category {
  display: flex;
  flex-direction: row;

  margin-top: 12px;
}

.inactiveCategory {
  display: inline-flex;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: 1px solid var(--gray-10-typo-color, #121212);
  background: var(--gray-10-typo-color, #fbfbfb);

  margin-right: 16px;

  &:hover {
    cursor: pointer;
  }
}

.inactiveCategory span {
  color: var(--gray-01-background, #121212);

  font-size: 16px;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  letter-spacing: 0.16px;
}

.activeCategory {
  display: inline-flex;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: 1px solid var(--gray-10-typo-color, #121212);
  background: var(--gray-10-typo-color, #121212);

  margin-right: 16px;

  &:hover {
    cursor: pointer;
  }
}

.activeCategory span {
  color: var(--gray-01-background, #fbfbfb);
  font-size: 16px;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  letter-spacing: 0.16px;
}

.createButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--main-02, #ff3d12);
  background: var(--main-02, #ff3d12);
  padding: 4px 24px;
  margin-top: 12px;

  cursor: pointer;
}

.createButton span {
  color: var(--gray-01-background, #fbfbfb);

  line-height: 27px; /* 168.75% */
  letter-spacing: 0.16px;
  font-size: 16px;
}

.categoryHeader {
  position: relative;
}

.categoryHeader img {
  position: absolute;
  top: 2px;
  left: 4px;
  cursor: pointer;
}

.inactiveCategory:hover {
  background: var(--gray-02-footer-background, #eaeaea);
}

.noData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 200px;
  color: var(--GRAY-04, #888888);
  font: var(--BODY01);
  font-size: 14px;

  grid-column: 1 / -1; /* 모든 컬럼을 차지 */
  text-align: center;
}

@media (max-width: 768px) {
  /* .column{
    padding: 0px 22px 90px 20px;
  } */

  .title {
    font: var(--BODY03_SB);
  }

  .buttons {
    margin-top: 8px;
  }

  .category {
    margin-bottom: 32px;
    display: flex;
    width: 100%;
    gap: 8px; /* 버튼 간격 */
  }

  .category::-webkit-scrollbar {
    display: none;
  }

  .inactiveCategory {
    margin-right: 0; /* 기존 margin 제거 */
    flex: 1; /* 균등 너비 */
    border-radius: 4px;
    padding: 4px 6px;
  }

  .inactiveCategory span {
    font: var(--BODY04);
    font-size: 12px;
  }

  .activeCategory {
    margin-right: 0; /* 기존 margin 제거 */
    flex: 1; /* 균등 너비 */
    border-radius: 4px;
    padding: 4px 6px;
  }

  .activeCategory span {
    font: var(--BODY04);
    font-size: 12px;
  }

  .createButton {
    display: none;
  }

  .recruitingList {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    padding-top: 0px;
    justify-items: stretch;
  }
}
