.column{
  display: flex;
  flex-direction: column;

  padding: 24px 128px 0px 128px;
}

.categoryText{
  color: var(--gray-10-typo-color, #121212);
  font:var(--TITLE06);
}

.recruitingList{
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 24px; 

  padding-top: 32px;
  justify-items: center;
}

.buttons{
  display: flex;
  justify-content: space-between;
}

.category{
  display: flex;
  flex-direction: row;

  margin-top: 12px;
}


.inactiveCategory{
  display: inline-flex;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: 1px solid var(--gray-10-typo-color, #121212);
  background: var(--gray-10-typo-color, #FBFBFB); 

  margin-right: 16px;

  &:hover {
    cursor: pointer;
  }
}

.inactiveCategory span{
  color: var(--gray-01-background, #121212);

  font-size: 16px;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  letter-spacing: 0.16px;
}

.activeCategory {
  display: inline-flex;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: 1px solid var(--gray-10-typo-color, #121212);
  background: var(--gray-10-typo-color, #121212);

  margin-right: 16px;

  &:hover {
    cursor: pointer;
  }
}

.activeCategory span{
  color: var(--gray-01-background, #FBFBFB); 
  font-size: 16px;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  letter-spacing: 0.16px;
}


.createButton{
  display: inline-flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--main-02, #FF3D12);
  background: var(--main-02, #FF3D12);
  padding: 4px 24px;
  margin-top: 12px;

  cursor: pointer;
}

.createButton span{
  color: var(--gray-01-background, #FBFBFB); 

  line-height: 27px; /* 168.75% */
  letter-spacing: 0.16px;
  font-size: 16px;
  
}

.categoryHeader{
  position: relative;
}

.categoryHeader img {
  position: absolute;
  top: 2px;
  left: 4px;
  cursor: pointer;
}

.inactiveCategory:hover {
  background: var(--gray-02-footer-background, #EAEAEA);
}

@media (max-width: 768px) {
  .column{
    padding: 0px 22px 90px 20px;
  }

  .title{
    font:var(--BODY03_SB);
  }

  .buttons{
    margin-top:8px;
  }

  .category{
    margin-bottom:32px;
    overflow-x: auto;       /* 좌우 스크롤 가능하게 만듦 */
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .category::-webkit-scrollbar {
    display: none;
  }

  .inactiveCategory{
    margin-right: 12px;
    border-radius: 4px;
  }

  .inactiveCategory span{
    font:var(--BODY04);
    
  }

  .activeCategory{
    margin-right: 12px;
    border-radius: 4px;
  }

  .activeCategory span{
    font:var(--BODY04);
  } 

  .createButton{
    display: none;
  }

  .recruitingList{
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 

    padding-top: 0px;
  }
}

