.showCard{
  cursor: pointer;
}

.showCard{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 238px;
  height: 430px;

  margin-bottom: 40px;
}

.card img{
  width: 223.875px;
  height: 328px;

  border: 4px solid var(--gray-02-footer-background, #EAEAEA);
  background: lightgray 50% / cover no-repeat;
}

.name{
  color: var(--main-02, #FF3D12);
  text-align: center;
  font:var(--BODY01_B);

  margin-top: 12px;
  margin-bottom: 4px;
}

.secondline{
  display: flex;
  flex-direction: row;
}

.secondline span{
  font:var(--BODY04);
}

.recruitingType{
  color: var(--Point-01, #5A00D6);
  font:var(--BODY04_SB) !important;

  margin-right: 12px;
}

.title{
  margin-left: 12px;
  width:150px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 440px) {
  .showCard {
    width: 124px;
    height: auto;

    margin-bottom: 12px;
  }

  .card img {
    width: 100%;
    height: auto;
    aspect-ratio: 124.00/175.41;

    border: 2px solid var(--gray-02-footer-background, #EAEAEA);
  }

  .name {
   font:var(--BODY04);
   margin-top: 4px;
   color: var(--Gray-08, #3E3E3E);
   margin-bottom:0px;
  }

  .secondline .recruitingType{
    font:var(--CAPTION) !important;
    margin: 0px;
  }

  .separator{
    display: none;
  }

  .title {
    display: none;
  }
}