.showCard {
  width: 240px;
  height: auto;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  justify-content: baseline;

  margin-bottom: 34px;
  cursor: pointer;

  transition: box-shadow 0.2s ease;

  position: relative;
  z-index: 1;
}

.mainImg {
  width: 100%;
  height: 100%;
  aspect-ratio: 192/271.15;

  position: relative;
  z-index: 1;

  border: 4px solid var(--gray-02-footer-background, #eaeaea);
  background: lightgray 50% / cover no-repeat;

  /* Shadow 01 */
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
}

.tape {
  position: absolute;
  transform: translate(90%, -20%);
  z-index: 100;
  img {
    width: 100px;
  }
}

.mainImg:hover {
  box-shadow: 10px 10px 18px 0 rgba(0, 0, 0, 0.25);
  font: var(--BODY01_B);
}

/* (선택) 카드 hover 시 이미지 그림자도 같이 */
.showCard:hover .mainImg {
  box-shadow: 10px 10px 18px rgba(0, 0, 0, 0.25);
}

.side {
  position: absolute;
  transform: translate(-80%, 925%);
  z-index: 2;
}

.side1 {
  position: absolute;
  transform: translate(-80%, 925%);
  z-index: 2;
}

.category {
  color: var(--gray-01-background, #fbfbfb);

  font: var(--CAPTION_SB);
  letter-spacing: 0.14px;

  position: absolute;
  transform: translate(-665%, -10%);
  z-index: 200;
}

.category1 {
  transform: translate(-365%, -5%);
}

.tag {
  color: var(--gray-01-background, #fbfbfb);

  font: var(--CAPTION_SB);
  letter-spacing: 0.14px;

  position: absolute;
  transform: translate(-150%, 1780%);
  z-index: 200;
}

.tag1 {
  transform: translate(-235%, 1780%) !important;
}
.tag3 {
  transform: translate(-115%, 1780%) !important;
}
.tag4 {
  font-size: 12px !important;
  transform: translate(-105%, 1780%) !important;
}
.tag5 {
  font-size: 12px !important;
  transform: translate(-100%, 1780%) !important;
}

.name {
  text-align: center;
  width: 100%;
  height: 36px;
  margin-top: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.name span {
  color: var(--Gray-09, #292929);
  font: var(--BODY01_B);
}

.clubDate {
  display: flex;
}

.club {
  color: var(--main-02, #ff3d12);
  font: var(--BODY04_B);
  letter-spacing: 0.16px;

  margin-right: 12px;
}

.tagdetail {
  color: var(--point-02, #7512ff) !important;
}
.date {
  color: var(--Gray-08, #3e3e3e);
  font: var(--BODY04);

  margin-left: 12px;
  margin-right: 2px;
}

.date1 {
  color: var(--Gray-08, #3e3e3e);
  font: var(--BODY04);
  margin-left: 2px;
}

.hide {
  display: none;
}

@media (max-width: 600px) {
  .showCard {
    width: 194px;
    height: auto;
    margin-bottom: 20px;
  }

  .card {
    width: 100%;
    height: auto;
  }

  .tape {
  position: absolute;
  transform: translate(90%, -40%);
  z-index: 100;
  img {
    width: 80px;
  }
}

  .mainImg {
    width: 100%;
    height: auto;
    aspect-ratio: 192/271.15;

    border: 2px solid var(--gray-02-footer-background, #eaeaea);
    background: lightgray 50% / cover no-repeat;
  }

  .name {
    margin-top: 12px;
    height: 30px;
  }

  .name span {
    font: var(--BODY03_B);
  }

  .clubDate span {
    font: var(--CAPTION);
  }

  .club {
    font: var(--CAPTION_SB) !important;
  }

  .date {
    font: var(--CAPTION) !important;
  }

  .date1 {
    font: var(--CAPTION) !important;
  }
}
