.column{
  display: flex;
  flex-direction: column;

  width:100%;
}

.showlist {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 24px; 
  justify-items: center;
  /* padding: 20px; */
}

.category{
  display: flex;
  flex-direction: row;

  margin-top: 12px;
  margin-bottom:64px;
}

.inactiveCategory{
  display: inline-flex;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: 1px solid var(--gray-10-typo-color, #121212);
  background: var(--gray-10-typo-color, #FBFBFB); 

  margin-right: 16px;

  &:hover {
    cursor: pointer;
  }
}

.inactiveCategory span{
  color: var(--gray-01-background, #121212);

  font:var(--BODY03);
  letter-spacing: 0.16px;
}

.activeCategory {
  display: inline-flex;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: 1px solid var(--gray-10-typo-color, #121212);
  background: var(--gray-10-typo-color, #121212);

  margin-right: 16px;


}

.activeCategory:hover {
  cursor: pointer;
}

.activeCategory span{
  color: var(--gray-01-background, #FBFBFB); 
  font:var(--BODY03);
  letter-spacing: 0.16px;
}

.showCard{
  display: flex;
  
}

.buttons{
  display: flex;
  justify-content: space-between;
}

.selectBox2 * { box-sizing: border-box; }
.selectBox2 {
  position: relative;
  width: 182px;
  height: 35px;
  /* 화살표 background: url('https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png') calc(100% - 7px) center no-repeat; */
  /* border: 1px solid var(--main-02, #FF3D12); */
  
  background: var(--main-02, #FF3D12);
  border: 1px solid var(--main-02, #FF3D12);

  cursor: pointer;
  z-index: 10000;

  margin-top: 12px;
}


.selectBox2 .label {
  display: flex;
  align-items: center;
  justify-content: center;      /* 가로 가운데 정렬 */
  width: inherit;
  height: inherit;
  border: 0 none;
  outline: 0 none;
  background: transparent;
  color: var(--gray-01-background, #FBFBFB);

  font-size: 16px;
  cursor: pointer;
}

.selectBox2 .optionList {
  position: absolute; 
  top: 28px;
  left: 0;
  width: 100%;
  border: 1px solid var(--main-02, #FF3D12);
  border-top: 0 none;
  margin-top: 6px;
  background: var(--gray-01-background, #FBFBFB);
  color: #fff;
  color: var(--main-02, #FF3D12);
  text-align: center;

  list-style-type: none;
  padding: 0;

  /* padding: 4px 38px 4px 39px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0; */
  overflow: hidden;
  max-height: 0;
  transition: .3s ease-in;
}

.selectBox2.active .optionList {
  max-height: 500px;
}

.selectBox2 .optionItem {
  border-bottom: 1px solid #FF3D12;
  padding: 5px 15px 5px;
  transition: .1s;
}

.selectBox2 .optionItem:hover {
  background: #FFEFEC;
}

.selectBox2 .optionItem:last-child {
  border-bottom: 0 none;
}

.dimmed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4); /* 어두운 투명 배경 */
  z-index: 50; /* 드롭다운보다 뒤에 위치하도록 조절 */
}

.inactiveCategory:hover {
  background: var(--gray-02-footer-background, #EAEAEA);
}

@media (max-width: 600px) {
  .showlist {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    width: 100%;
  }

  .category{
    margin-bottom:32px;
    overflow-x: auto;       /* 좌우 스크롤 가능하게 만듦 */
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .category::-webkit-scrollbar {
    display: none;
  }

  .inactiveCategory{
    margin-right: 12px;
    border-radius: 4px;
  }

  .inactiveCategory span{
    font:var(--BODY04);
    
  }

  .activeCategory{
    margin-right: 12px;
    border-radius: 4px;
  }

  .activeCategory span{
    font:var(--BODY04);
  } 

  .selectBox2{
    display: none;
  }

  .showCard{
    width:calc((100% - 40px)/2) !important;
  }
}