.showCard {
  width: 240px;
  height: 427px;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 34px;
  cursor: pointer;
}

.mainImg {
  width: 229.834px;
  height: 325px;

  position: relative;
  z-index: 1;

  border: 4px solid var(--gray-02-footer-background, #eaeaea);
  background: lightgray 50% / cover no-repeat;

  /* Shadow 01 */
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
}

.top {
  position: absolute;
  transform: translate(-220%, -20%);
  z-index: 100;
}

.top1 {
  position: absolute;
  transform: translate(-200%, -20%);
  z-index: 100;
}

.side {
  position: absolute;
  transform: translate(-80%, 925%);
  z-index: 2;
}

.side1 {
  position: absolute;
  transform: translate(-80%, 925%);
  z-index: 2;
}

.category {
  color: var(--gray-01-background, #fbfbfb);

  font:var(--CAPTION_SB);
  letter-spacing: 0.14px;

  position: absolute;
  transform: translate(-665%, -10%);
  z-index: 200;
}

.category1 {
  transform: translate(-365%, -5%);
}

.tag {
  color: var(--gray-01-background, #fbfbfb);

  font:var(--CAPTION_SB);
  letter-spacing: 0.14px;

  position: absolute;
  transform: translate(-150%, 1780%);
  z-index: 200;
}

.tag1 {
  transform: translate(-235%, 1780%) !important;
}
.tag3 {
  transform: translate(-115%, 1780%) !important;
}
.tag4 {
  font-size: 12px !important;
  transform: translate(-105%, 1780%) !important;
}
.tag5 {
  font-size: 12px !important;
  transform: translate(-100%, 1780%) !important;
}

.name {
  text-align: center;
  width: 240px;
  margin-top: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.name span{
  color: var(--Gray-09, #292929);
  font:var(--BODY01_B);
}

.clubDate {
  display: flex;
}

.club {
  color: var(--main-02, #ff3d12);
  font: var(--BODY04_B);
  letter-spacing: 0.16px;

  margin-right: 12px;
}

.tagdetail{
  color: var(--point-02, #7512FF) !important;
}
.date {
  color: var(--Gray-08, #3e3e3e);
  font: var(--BODY04);

  margin-left: 12px;
  margin-right: 2px;
}

.date1 {
  color: var(--Gray-08, #3e3e3e);
  font: var(--BODY04);
  margin-left: 2px;
}

.hide {
  display: none;
}
