.showCard{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 316px;
  height: 545px;

  /* margin-bottom: 40px; */
  cursor: pointer;
}

.card img{
  width: 100%;
  height: 100%;

  border: 3px solid var(--gray-02-footer-background, #EAEAEA);
  background: lightgray 50% / cover no-repeat;
}

.name{
  color: var(--gray-10-typo-color, #121212);
  text-align: center;
  font:var(--TITLE06);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 

  margin-top: 12px;
}

.clubDate{
  display: flex;
}

.date{
  color: var(--Gray-08, #3E3E3E);
  font:var(--BODY03);

  margin-left: 6px;
  margin-right: 6px;
}

.date1{
  color: var(--Gray-08, #3E3E3E);
  font-size: 14px;

  line-height: 27px; /* 168.75% */
  letter-spacing: 0.16px;

  margin-left: 6px;
}