.showCard{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 238px;
  height: 430px;

  /* margin-bottom: 40px; */
  cursor: pointer;
}

.card img{
  width: 231.875px;
  height: 328px;

  border: 3px solid var(--gray-02-footer-background, #EAEAEA);
  background: lightgray 50% / cover no-repeat;
}

.name{
  color: var(--gray-10-typo-color, #121212);
  text-align: center;
  font:var(--TITLE06);
  width: 238px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
}

.clubDate{
  display: flex;
}

.date, .date1{
  color: var(--Gray-08, #3E3E3E);
  font:var(--BODY03);

  margin-left: 6px;
  margin-right: 6px;
}

@media (max-width: 600px){
  .showCard{
    width: 183px;
    height: 325px;
  }

  .card img{
    width: 180px;
    height: 255px;
  }

  .name{
    font:var(--BODY02_B);
    width: 160px;
  }

  .date, .date1{
    font-size: 12px;

    line-height: 23px; /* 191.667% */
    letter-spacing: 0.14px;

    margin-left: 4px;
  }
}